body{
  margin: 0;
  background-image: radial-gradient(circle, #caf9f1, #bcf3f1, #afecf2, #a4e5f4, #9bdef5, #84caeb, #70b6e1, #60a2d6, #417dbc, #2b59a1, #213582, #1d0f60);
}
.container{
  display: flex;
  flex-direction: column;
}
.colun{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  
  border: #1d0f60 solid;
}

